.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    align-items: flex-start;
}


/*     Calendar Header     */

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 15px;
    padding: 10px 45px;
    margin: 5px auto 25px auto;
    color: white;
    width: fit-content;
}

.calendar-header h2 {
    margin: 0 20px;
}

.nav-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s;
    margin-bottom: 2px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
    }
}


/*     Calendar Body     */

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 10px;
    width: 100%;
}

.weekday {
    min-width: 94px;
    text-align: center;
    font-weight: bold;
    background-color: #e0e0e0;
    padding: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
}

.day {
    min-width: 90px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    min-height: 110px;
    position: relative;
}

.date {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 5px;
}

.items {
    margin-top: 5px;
}

.item {
    background-color: #007bff;
    color: white;
    padding: 5px;
    border-radius: 3px;
    margin: 2px 0;
    text-align: center;
    max-height: 50px;
    overflow: hidden;
}

.today {
    border: 2px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    position: relative;
}

.prev-month {
    background-color: #d3d3d3;
}

.current-month {
    background-color: white;
}