<div class="wrapper">
    <div class="announcement">Announcement Grid</div>
    <div class="content-area">
      <div class="main-grid">
        <div class="course-tiles">
            <div *ngFor="let course of courses" class="course-tile">
                <img [src]="course.image_download_url || 'default-image.jpg'" [alt]="course.name">
                <h3>{{ course.name }}</h3>
                <div class="grade-wrapper">
                    Current Grade: {{ course.computed_current_score + '%'|| 'N/A' }}
                  </div>
            </div>
        </div>
    </div>
    <div class="notification">Notification Grid</div>
</div>