<div *ngIf="!profileData" class="loading-message">
    <p>Loading profile data...</p>
</div>
<div *ngIf="profileData">
    <h1>{{ profileData.username }}'s Profile</h1><br>
    <div class="profile-section">
        <div *ngIf="profileData.canvas.canvas_name" class="valid-canvas">
            <h2>Canvas: ✔️</h2>
            <img [src]="profileData.canvas.canvas_pic" alt="Canvas Avatar">
            <p><strong>Name:</strong> {{ profileData.canvas.canvas_name }}</p>
            <p><strong>Bio:</strong> {{ profileData.canvas.canvas_bio }}</p>
        </div>
        <div *ngIf="!profileData.canvas.canvas_name" class="invalid-canvas">
            <h2>Canvas: ❌</h2>
            <strong>(This canvas is not valid.)</strong>
        </div>
    </div>

    <div class="settings-section">
        <h2>Settings</h2><br><br>
        <div>
            <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
                <h3>Change Password</h3>
                <div>
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" id="oldPassword" required [(ngModel)]="oldPassword" name="oldPassword">
                </div>
                <div>
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" required [(ngModel)]="newPassword" name="newPassword">
                </div>
                <div>
                    <label for="confirmPassword">Confirm New Password:</label>
                    <input type="password" id="confirmPassword" required [(ngModel)]="confirmPassword"
                        name="confirmPassword">
                </div>
                <button type="submit">Update Password</button>
            </form>
            <div *ngIf="message" [ngClass]="['message', messageClass]">
                {{ message }}
            </div>
        </div>
    </div>
</div>