<div class="modal-content">
    <button class="close-button" (click)="closeGradeSimForm()">&#10005;</button>
    <h2>Canvas Grade Book</h2>
    <table id="gradeBookTable">
        <thead>
            <tr>
                <th>Assignment</th>
                <th>Score</th>
                <th>Max Score</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button id="calculatePotential" class="send-message-button">Calculate Potential Score</button>
    <div id="potentialScore"></div>
</div>