* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
}