* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    height: 100vh;
    overflow: auto;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eee;
}