<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input id="username" formControlName="username" type="text" required placeholder="Enter your username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" formControlName="password" type="password" required placeholder="Enter your password">
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input id="confirmPassword" formControlName="confirmPassword" type="password" required
                placeholder="Confirm your password">
        </div>

        <div class="form-group">
            <label for="canvasToken">Canvas API Token</label>
            <input id="canvasToken" formControlName="canvasToken" type="text" required
                placeholder="Enter your Canvas API token">
        </div>

        <div class="form-group">
            <label for="todoistToken">Todoist API Token</label>
            <input id="todoistToken" formControlName="todoistToken" type="text" required
                placeholder="Enter your Todoist API token">
        </div>

        <button type="submit" class="btn">Register</button>
    </form>
    <a class="login-link" routerLink="/login">Already have an account? Login</a>
</div>