<div class="assignments-container">
    <div *ngFor="let assignment of assignments | orderBy: 'due_date'" class="assignment-card">
        <h3 class="assignment-title">{{ assignment.title }}</h3>
        <p class="assignment-course">
            <strong>Due Date</strong>:
            <span [ngStyle]="{'color': isDueToday(assignment.due_at) ? 'red' : 'black'}">
                {{ assignment.due_at }}
            </span>
        </p>
        <!--<p class="assignment-description">{{ assignment.description }}</p> -->
        <p class="assignment-course">{{ assignment.context_name }}</p>
        <p class="assignment-points">Points: {{ assignment.points_possible }}</p>
        <a class="assignment-link" [href]="assignment.html_url" target="_blank">View Assignment</a>
    </div>
</div>